<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="alert alert-danger col-6 offset-3 mt-5" role="alert">
    <p class="alert-handling">
        <h3><%= message %></h3>
    </p>
  </div>
</div>
